*{
    margin: 0;
    padding:0;
}
.header{
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 5%;
    color: black;
}
.avatar{
    height: 60px;
    width: 60px;
}
.insidehead{
    display: flex;
    justify-content: space-between;
}
.insides{
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 22px;
}

.logos{
    height:90px;
    width:90px;
    margin-top: -22px;
}
.gl{
    margin-top: -50px;
    margin-bottom: 20px;
}
.content{
    height: fit-content;
    width: 60%;
    text-align: justify;
    margin: auto;
}
.castandmovie{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.cast{
    text-align: justify;
    margin-left: -95px;
}
.movie1{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: -499px;
}
li{
    font-size: 27px;
    text-align: left;
}
.cast1{
    text-align: justify;
    margin-left: -68px;
}
.cast2{
    text-align: justify;
    margin-left: -162px;
}
.cast3{
    text-align: justify;
    margin-left: -122px;
}

@media (min-width:0px) and (max-width:600px){
    .the{
        margin-left: -88px;
        padding: 84px;
        margin-top: 66px;
    } 
    .heading{
        font-size: 58px;
        margin-top: -210px;
        margin-left: -147px;
    }
    .the2{
        margin-left: -20px;
        padding: 11px;
        margin-top: 66px;
    } 
    .heading2{
        font-size: 27px;
        margin-top: -3px;
        margin-left: 4px;
    }
    .gl{
        margin-top: -12px;
        margin-bottom: 20px;
    }
    .avatar{
        height: 20px;
    width: 20px;
    }
    .distance{
        line-height: 16px;
    }
    .logos{
        height:60px;
        width:60px;
        margin-top: -22px;
    }
    .bolimg{
        margin-left:-50px
    }
    .castandmovie{
        display: flex;
       flex-direction: column;
        margin-top: 3%;
        margin-left: 130px;
    }
    .movie1{
        margin-left: -100px;
    }
   .h3{
    margin-left: -260px;
   }

   .cast1{
    margin-left:-100px ;
   }
   .cast2{
    margin-left: -89px;
   }
   .cast3{
    margin-left: -89px;
   }
   .horizontaline{
    display: none;
   }
}

